/* General utility / backgrounds */

.ms_bg-black {
    background-color: #000;
}

.ms_bg-gray {
    background-color: #bebcbb;
}

.ms_bg-darkblue {
    background-color: #161c3b;
}

.ms_bg-blue {
    background-color: #00439c;
}

.ms_white-text {
    color: #fff;
}

.ms_blue-text {
    color: #2d64e6;
}

.ms_button {
    border-radius: 50px;
}

.ms_button-buy {
    background-color: #cd3d0f;
    color: #fff;
}

.ms_button-blue {
    background-color: #2d64e6;
    color: #fff;
}

.ms_button-gray {
    background-color: #d9dadc;
    color: #2d64e6;
}

.ms_button-access {
    background-color: #363636;
    color: #fff;
}

.ms_button-hover-black:hover {
    box-shadow: inset 0px 0px 0px 2px #000;
}

.ms_button-hover-white:hover {
    box-shadow: inset 0px 0px 0px 2px #fff;
}

.ms_show-md {
    display: none;
}

.ms_blue-border-bot {
    border-bottom: 2px solid #2d64e6;
}

.ms_img-width-100 {
    min-height: 100%;
}

.ms_img-fluid {
    height: 100%;
}

/* Header */

.ms_sony-logo {
    padding: 5px 0;
    width: 100px;
}

.ms_search-icon {
    width: 40px ;
}

.ms_img-border-round {
    border-radius: 25px;
}

/* Jumbotron */

.ms_jumbo-bg {
    margin-top: 90px; /* Header is 90px tall, modify this if you touch the header's height */
    padding-top: 400px;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}

/* Game Listing */

.ms_game-listing-border-blue {
    border: 2px solid #2d64e6;
}

.ms_game-listing-animation {
    position: relative;
    top: 0;
    transition: all 0.4s;
}

.ms_game-listing-animation:hover {
    top: -10px;
}

/* It Takes Two */

.ms_it-takes-two-bg {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

/* PlayStation Plus */

.ms_psplus-img-height {
    height: 100%;
    width: 100%;
}

/* Social Media */

.ms_social-media-container {
    max-width: 576px;
    margin: 0 auto;
}

/* Footer */

.ms_footer-ps-logo {
    height: 100px;
}

.ms_footer-sie-logo {
    height: 50px;
}

/* Responsive */

@media screen and (min-width: 576px) {
    .ms_container-sm {
        padding: 0 25px;
    }
}

@media screen and (min-width: 768px) {
    .ms_show-md {
        display: block;
    }
}